#search_results
  %h2= "results"
  %h3.divider_medium


  - if  @results_strands.length<=0 && @results_news.length<=0 && @results_events.length<=0 && @results_parts.length<=0
    %h4= "Sorry, your search term '#{params[:query]}' was not found."

  - else
    - if @results_strands.length > 0
      %h3= "Strands"
      - for strand in @results_strands
        %h4= strand.name
        %p
          :preserve
            #{highlight(strand.summary, params[:query], :highlighter => '<span class=highlight>\1</span>')}
          =link_to "read more...", "/#{Nal::Application::CURRENT_YEAR}/strand/#{strand.friendly_id}?query=#{params[:query]}"
      %hr

    - if @results_news.length > 0
      %h3= "News"
      - for news in @results_news
        %h4= news.headline
        %p
          :preserve
            #{highlight(news.summary, params[:query], :highlighter => '<span class=highlight>\1</span>')}
          = link_to "read more...", "/news/#{news.friendly_id}?query=#{params[:query]}"
      %hr

    - if @results_events.length > 0
      %h3= "Events"
      - for event in @results_events
        %h4= event.name
        %p
          :preserve
            #{highlight(event.summary, params[:query], :highlighter => '<span class=highlight>\1</span>')}
          = link_to "read more...", "/#{Nal::Application::CURRENT_YEAR}/event/#{event.friendly_id}?query=#{params[:query]}"
      %hr

    - if @results_parts.length > 0
      %h3= "Participants"
      - for part in @results_parts
        %p= link_to part.name,  "/#{Nal::Application::CURRENT_YEAR}/participant/#{part.friendly_id}?query=#{params[:query]}", :class => "a_artist"
      %hr

    - if @results_pages.length > 0
      %h3= "Pages"
      - for page in @results_pages
        %p= link_to page.name,  "/#{Nal::Application::CURRENT_YEAR}/#{page.slug}?query=#{params[:query]}", :class => "a_page"
      %hr

