%h1= "#{Nal::Application::CURRENT_YEAR} Festival_"

- i = 0

- for strand in @strands do

  - cell = i % 2 == 0 ? "odd" : "even"
  .strand{:class => "msp#{i} "+cell}

    %a.mosaic-overlay{:href => "/#{Nal::Application::CURRENT_YEAR}/strand/#{strand.friendly_id}"}
      .details
        %p
          :preserve
            #{strand.summary}
        %h3
          = "#{strand.name}_"

    .mosaic-backdrop
      - article_thumb strand

    -#%p= link_to strand.name, "/#{Nal::Application::CURRENT_YEAR}/strand/#{strand.id}"
    -#:preserve
    -#  #{strand.summary}
    - i += 1


    -#<a href="http://buildinternet.com/project/mightyicons/" target="_blank" class="mosaic-overlay">
    -#	<div class="details">
    -#		<h4>Mighty Social Icons</h4>
    -#		<p>By Build Internet</p>
    -#	</div>
    -#</a>
    -#<div class="mosaic-backdrop"><img src="http://buildinternet.s3.amazonaws.com/projects/mosaic/mightyicons.jpg"/></div>

