%h1= @strand.name

- article_image @strand
:preserve
  #{@strand.detail}

%h2 Related Events
- for event in @strand.events do
  %p= link_to "#{event.name} - #{event.date} @ #{event.venue}", "/#{Nal::Application::CURRENT_YEAR}/event/#{event.id}"

