%h2= @strand.name
%h3.divider_medium
  
- article_image @strand
:preserve
  #{@strand.detail}

- if @strand.events.length > 0

  %h3 Event Details
  - i = 0
  - for event in @strand.events do

    - if @strand.events.length == 1
      .news_item_featured

        %h4= link_to(event.name, "/#{Nal::Application::CURRENT_YEAR}/event/#{event.friendly_id}")

        :preserve
          #{event.summary}

    - else

      - cell = i % 2 == 0 ? "odd" : "even"

      .news_item{:class => cell}

        - article_thumb event

        %h3= link_to(event.name, "/#{Nal::Application::CURRENT_YEAR}/event/#{event.friendly_id}")

        :preserve
          #{event.summary}

    - i += 1

