%h4= link_to participant.name, "/#{Nal::Application::CURRENT_YEAR}/participant/#{participant.friendly_id}"
:preserve
  #{participant.biography}
%p= auto_link participant.homepage
%p= participant.twitter_name
