%h1 All Participants

- for participant in @participants do
  %h3= link_to participant.name, "/#{Nal::Application::CURRENT_YEAR}/participant/#{participant.friendly_id}"
  %p= participant.type
  %p= formatted participant.created_at
  :preserve
    #{participant.biography}
  %p= auto_link participant.homepage
  %p= participant.twitter_name
