%h2= @participant.name

- article_image @participant

%p= formatted @participant.created_at
%p= @participant.name

:preserve
  #{@participant.biography}
%p= auto_link @participant.homepage
%p= @participant.twitter_name
