%h1= "Event: #{@event.name}"

- article_image @event

:preserve
  #{@event.detail}

%h2 Related Performers
= comma = ""
- for performer in @event.performers do
  = comma
  = link_to(performer.name, "/#{Nal::Application::CURRENT_YEAR}/participant/#{performer.id}")
  - comma = "|"
  
