%hr.divider_medium
  
- i = 0
- for news_item in @news_items do


  - if i == 0
    .news_item_featured

      - article_image news_item
      %h3= link_to news_item.headline, news_item
      :preserve
        #{news_item.summary}

      =link_to "Read more_", news_item, :class => "read_more"
      
  - else

    - cell = i % 2 == 0 ? "even" : "odd"

    .news_item{:class => cell}

      - article_thumb news_item
      %h3= link_to news_item.headline, news_item
      :preserve
        #{news_item.summary}

      =link_to "Read more_", news_item, :class => "read_more"

  - i += 1

= will_paginate @news_items