%h1 News

- for news_item in @strands do
  %p= news_item.created_at
  %p= link_to news_item.headline, news_item
  :textile
    #{news_item.summary}



= link_to "View Participants", "#{Nal::Application::CURRENT_YEAR}/participants"